page-guia {
	ion-content{
		background-image:url('../../assets/imgs/fondomain.png');
		background-position:center;
		background-size:contain;
		ion-slide{
			p{
				width:70%;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
			}
		}
		.swiper-pagination-bullet-active{
			background:$customBlue;
		}
	}
}
