page-chequea {
	ion-header{
		
		ion-navbar{
			div.toolbar-background{
				background-color:$customBlue !important;

			}
			ion-title{
				.toolbar-title{
					color:#fff !important;
					font-weight:100;
				}
				
			}
		}
	}

	.pick-currency{
		.currency-item.first{
			padding-bottom:1.5rem;
		}
		.currency-item{
			
			width:60%;
			margin-left:auto;
			margin-right:auto;
			img{
				width:100%;
			}
		}
	}

	ion-content{
		p{
			color:$customBlue;
			width:90%;
			text-align:center;
			margin:3rem auto 0;
		}
	}
}
