page-error {
	ion-header{
		
		ion-navbar{
			div.toolbar-background{
				background-color:$customBlue !important;

			}
			ion-title{
				.toolbar-title{
					color:#fff !important;
					font-weight:100;
				}
				
			}
		}
	}

	ion-content{
		p{
			color:#FF0000 !important;
		}
		.message-mod{
			.pic{
				text-align:center;
				img{
					width:80%;
				}
			}
			p{
				width:85%;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
				margin-top:2rem;
				margin-bottom:3rem;
				&.special{
					color:$customBlue !important;
					opacity:.5;
					font-size:1.25rem;
				}
			}
			.buttonWrapper{
				text-align:center;
			}
		}
	}

	button{
		&.button{

			&.button-default{
				border:1.25px solid $customBlue;
				background-color:#fff;
				width:80%;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
				font-weight: lighter;
				color:$customBlue;
				margin-bottom:2rem;
				transition:.35 background-color ease-in;
				box-shadow:none;
				&.last{
					margin-bottom:0;
				}
				&.activated{
					background-color:$customBlue;
					color:#fff;
				}
			}
			
		}
	}
}
